# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.egg-info/
.eggs/
.venv/
venv/
inquirmed/
.env

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Data & models
data/raw/
data/processed/
embeddings/
models/

# Virtual env
inquirmed/
.venv/
venv/

